
IK/.vs/Hirayama/v16/Browse.VC.db
IK/Debug/Hirayama.tlog/CL.command.1.tlog
*.tlog
*.opendb
*.idb
*.ipch
*.db-wal
*.db-shm
*.filters
*.ipdb
*.iobj
*.db
tele_mbed_serial/.vs/tele_mbed_serial/v16/.suo
*.log
*.obj
*.pdb
*.exe
*.ilk
